$enable-transitions: true;

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/print";

@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/tables";
@import "bootstrap/buttons";

@import "bootstrap/button-group";
@import "bootstrap/labels";

section.flipflop {
  @include make-container(); /* @extend .container-fluid; */
  margin: 5rem 0 0;

  table {
    @extend .table;
    @extend .table-striped;

    thead {
      @extend .thead-inverse;

      th {
        position: relative;
        cursor: default;

        &[data-tooltip]:before, &[data-tooltip]:after {
          @include transition(all 0.2s ease-out);
          transform: translateY(0.2rem) translateZ(0);
          opacity: 0;

          display: block;
          position: absolute;
        }

        &[data-tooltip]:before {
          content: attr(data-tooltip);
          width: 98%;
          left: 0;
          bottom: 3.75rem;
          margin: 0;
          padding: 0.5rem 0.75rem;
          background: $gray;
          border-radius: 0.2rem;
          font-size: 0.875rem;
          font-weight: normal;
          pointer-events: none;
        }

        &[data-tooltip]:after {
          content: " ";
          width: 0;
          height: 0;
          left: 1rem;
          bottom: 3.25rem;
          border-left: solid transparent 0.5rem;
          border-right: solid transparent 0.5rem;
          border-top: solid $gray 0.5rem;
        }

        &:hover {
          &[data-tooltip]:before, &[data-tooltip]:after {
            transform: translateY(0) translateZ(0);
            opacity: 1;
          }
        }
      }
    }

    tbody {
      td.status {
        width: 2rem;
        font-size: 1.1rem;

        span {
          width: 2rem;
          @extend .label;
          @extend .label-pill;
          &.on { @extend .label-success; }
          &.off { @extend .label-default; }
        }
      }

      td.name {
        min-width: 11rem;
        padding-top: 0.9rem;
        font-weight: bold;
      }

      td.description {
        min-width: 11rem;
        padding-top: 0.9rem;
      }

      td.toggle {
        min-width: 11rem;

        div.toolbar {
          @extend .btn-toolbar;
          margin-left: 0;

          div.group {
            @extend .btn-group;
            @extend .btn-group-sm;

            input[type=submit] {
              @extend .btn;
              @extend .btn-sm;
              &.active { @extend .btn-primary; }
              &:not(.active) { @extend .btn-secondary; }
            }
          }
        }
      }
    }
  }
}
